[2018-05-18 10:24] Robinlovelace opened #1 "Create package skeleton"
Heads-up @layik and @mpadge I suggest we use this as the basis for our plumber exploits, once experience from experimentation yields results, we can generalise!

Heads-up @layik the go-to resources on this are `devtools`, `usethis` and the R packages book: http://r-pkgs.had.co.nz/

Suggest we work on this at the minihack and maybe at a distance during the rOpenSci Unconf - happy for you to create

[2018-08-20 15:07] layik opened #2 "support both yarn and npm"
that would be awesome, but may have to go with `npm` for now.

[2018-08-20 15:11] Robinlovelace opened #3 "Add continuous integration"
To run tests on travis or another CI service. E.g. with:

[code]

[2018-08-20 17:19] #1 closed, assigned to nobody

[2018-08-28 14:53] Robinlovelace opened #4 "Add example data to package"
I suggest we add data on traffic counts (CDRC), crimes (ukpolice) and maybe stats19 data.

I think these will be most useful as documented R data objects, as described here: http://r-pkgs.had.co.nz/data.html

One question: should the package import sf? My vote: yes.

[2018-08-28 15:21] layik opened #5 "Should package install also run/show `install_node` and/or `install_react` function?"
A convention question. Should the package show/run the instructions to add the required node/npm/react system setups?

Do R packages install the prerequisites?

[2018-08-28 16:29] layik opened #6 "Check build on Windows"

[2018-08-28 17:04] #5 closed, assigned to nobody

[2018-08-29 07:55] #6 closed, assigned to layik

[2018-08-29 14:23] layik opened #7 "Cant see gp_build after building package but function is exported."
Why?
https://github.com/ATFutures/geoplumber/blob/master/R/gp_build.R#L12

[2018-08-30 09:21] #2 closed, assigned to nobody

[2018-08-30 09:24] layik opened #8 "Use template code & standard npm commands"
Currently, to test things, package contains code which can come from npm. Links in #5 would teach me how this is done by R experts. For example the `lawn` package. https://github.com/ropensci/lawn/tree/master/inst/js

[2018-08-30 11:30] layik opened #9 "Working dir management"
We can learn from devtools to manage workflow.
https://github.com/r-lib/devtools/blob/33a9404583833f162f84b6a931cca2ccca2dd8d7/R/create.r

But to simplify managing paths with underlying `npm` and `R` commands:
1. An app (web app) will be `init`/created only with a mandatory "app name" at current working directory.
2. All other commands would run under getWd()/app_name.

Example pseudo code:
CREATE

[2018-08-30 14:31] #9 closed, assigned to nobody

[2018-08-30 17:28] #8 closed, assigned to nobody

[2018-08-30 21:45] #4 closed, assigned to nobody

[2018-08-31 07:25] Robinlovelace opened #10 "devtools check is failing"
Ctl-Shift-E checks if the package is set-up according to best practices. Currently it fails:

[code]

Created on 2018-08-31 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-08-31 13:48] #7 closed, assigned to nobody

[2018-08-31 13:52] layik opened #11 "Add a new endpoint"
The sweet stuff.

[2018-09-03 11:29] #10 closed, assigned to nobody

[2018-09-03 11:30] Robinlovelace opened #12 "Open source the repo"
- [x] README contains basic use case
- [x] Basic functions are ship shape
- [x] Clean git history.
- [x] package.json in README
- Anything else?

[2018-09-05 10:51] #11 closed, assigned to nobody

[2018-09-07 10:30] Robinlovelace opened #13 "Unhelpful message in endpoint function example error"
[code]

Created on 2018-09-07 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-09-07 10:37] Robinlovelace opened #14 "Example from gp_add_geojson is not reproducible"
Currently it is

[code]

Which generates an error.

[2018-09-07 10:48] Robinlovelace opened #15 "gp_create("my_app") error message does not say how to resolve the issue"
This is what I got:

[code]

[2018-09-07 10:50] Robinlovelace opened #16 "Name"
Currently the package is called geoplumber but in the README it's referred to in camelCase as GeoPlumber. I suggest we use geoplumber throughout for consistency.

[2018-09-07 13:35] Robinlovelace opened #17 "Text in enpoint function docs is huge"
![image](https://user-images.githubusercontent.com/1825120/45222067-53ce9780-b2ab-11e8-9004-7ad1f4f4c5bc.png)

[2018-09-07 13:38] #17 closed, assigned to nobody

[2018-09-07 20:25] layik opened #18 "Installing create-react-app npm package"
We have created a helper function which now looks a little more harder than it looks.
[Apparently](https://stackoverflow.com/q/23186960), and understandably, it is not easy to ask current user to "sudo".

For geoplumber to function, we do need an npm package. We know npm packages can be installed anywhere and "globally". How should we deal with this?

1. Force user to "sudo npm i -g create-react-a

[2018-09-10 13:40] #16 closed, assigned to nobody

[2018-09-10 13:41] #13 closed, assigned to nobody

[2018-09-10 14:22] #14 closed, assigned to nobody

[2018-09-10 14:22] Robinlovelace opened #19 "gp_plumb fails when no viewer is available"
As illustrated here: https://asciinema.org/a/BI2zB49f3aFQjxCmaMkDVbQyP

[2018-09-10 14:41] Robinlovelace opened #20 "another error when running gp_build"
Sorry @layik - this may just be me being silly, but thought the unexpected behaviour worth reporting. Can re-test if you say which steps I should take before running `gp_build()`. Or can re-test if a new version of `gp_build()` does the installation steps automatically.

(not quite reprex):

[code]

[2018-09-11 09:53] layik opened #21 "system("npm start") cannot be killed on Linux"
On OSX seems to be OK. More tests needed.

[2018-09-11 10:14] Robinlovelace opened #22 "Explain default npm packages in README"
We should add a link to the `package.json` file and provide a brief description of what's in there and how to add more packages to your app. Make it minimal will increase install time.

Idea: have different template files e.g. `package-geospatial-analysis.json` with turf (just an idea for later down the line).

[2018-09-11 10:53] #15 closed, assigned to nobody

[2018-09-11 11:54] #20 closed, assigned to nobody

[2018-09-11 11:54] #18 closed, assigned to nobody

[2018-09-12 11:14] #21 closed, assigned to nobody

[2018-09-12 21:42] #19 closed, assigned to nobody

[2018-09-13 09:55] layik opened #23 "Let swagger run"
Assigning React app to the plumber “assets” tag at root `/` causes plumber's built in swagger to be disabled. I thought I had sorted this out but it turns out not.

Important to get this working (somehow).

[2018-09-13 13:08] #23 closed, assigned to layik

[2018-09-13 13:19] mpadge opened #24 "Write vignette"
If it's okay, I'd like to self-nominate this one, because it seems the best way for me to get a sufficiently deep grasp of this amazing work. Plus, having an outsider write a vignette is very often the best way! :smile:

[2018-09-13 13:42] Robinlovelace opened #25 "Create max augement to set number of features to show on map with sensible default"

[2018-09-13 13:45] Robinlovelace opened #26 "Mention GeoServer in README"

[2018-09-13 14:32] #26 closed, assigned to Robinlovelace

[2018-09-13 14:45] Robinlovelace opened #27 "Make gp_plumb use sf object by default"

[2018-09-13 14:55] Robinlovelace opened #28 "rename 'meta'"
To something more intuitive like `traffic`

[2018-09-13 14:58] Robinlovelace opened #29 "tests are failing again"
Output:
[code]

[2018-09-13 17:30] #29 closed, assigned to nobody

[2018-09-13 20:04] #22 closed, assigned to layik

[2018-09-14 09:37] #27 closed, assigned to layik

[2018-09-14 10:55] layik commented on #12
Travis build triggered.

[2018-09-14 11:02] mpadge commented on #12
Nice! Did you just get rid of all the history, or did you BFG it?

[2018-09-14 11:15] layik commented on #12
It was not actually big (2.2mb) but decided to just get rid of all my "pseudo" private commits.

[2018-09-14 11:15] layik commented on #12
It is backed up :)

[2018-09-14 11:17] layik commented on #12
Now trying to make Travis happy.

[2018-09-15 07:26] Robinlovelace commented on #3
Looks like it's not auto restarting the build now. The link between travis and github seems to have stopped: no ticks or xs by the commit messages: https://github.com/ATFutures/geoplumber/commits/master Any ideas @layik ?

[2018-09-15 07:28] Robinlovelace commented on #27
Looks good! And to re-download the .geojson? One for the readme I think, that is really cool: geojson -> leaflet/download.

[2018-09-15 09:00] layik commented on #3
Not happy with the list of apt dependencies added, but I like a build happening so trying again.

[2018-09-15 09:01] layik commented on #3
https://travis-ci.org/ATFutures/geoplumber/builds/428931410

[2018-09-15 09:53] layik commented on #3
Done!

[2018-09-15 11:37] #3 closed

[2018-09-15 11:37] #12 closed

[2018-09-15 11:38] layik commented on #28
Do it in README too

[2018-09-15 12:08] Robinlovelace commented on #28
Done: https://github.com/ATFutures/geoplumber/blob/master/README.Rmd

You just need to knit `README.Rmd` and it will update `README.md`.

[2018-09-15 12:53] layik commented on #28
Thank you!

[2018-09-15 12:53] #28 closed

[2018-09-16 02:15] SymbolixAU opened #30 "consider geojsonsf"
I realise this package is still in development, but I'd like to suggest using `geojsonsf` over `geojsonio` for speed

On the example data `uol`

[code]

on something bigger

[code]

[2018-09-16 06:54] Robinlovelace commented on #30
Thanks for the suggestion! In fact we have discussed alternatives and I ran a benchmarks showing geojsonio is no faster, if not slightly slower, than **sf**: **

This** **geojsonsf** pkg seems blazing fast. Question: how is it so fast? For producing geojson representations of sf objects I imagine it's unbeatable. Great work, we'll consider it for sure.

[2018-09-16 07:09] SymbolixAU commented on #30
Everything's written in C++ / Rcpp, whereas geojsonio is all R.

This is exactly why I wrote it. I do a lot of work with spatial databases and needed a quick way to read & write.

[2018-09-16 08:01] Robinlovelace commented on #30
Sounds good. Just noticed my previous comment was borked. Here's a link to the benchmark I ran with the same thing in mind: https://github.com/ATFutures/geoplumber/issues/27#issuecomment-421247231

I reckon we'll switch to `geojsonsf`. Thanks for sharing.

[2018-09-16 08:11] layik commented on #30
Thank you @SymbolixAU. Thanks @Robinlovelace.

C++ is convincing, and will do.

[2018-09-16 08:36] layik commented on #30
[code]

Created on 2018-09-16 by the [reprex
package](http://reprex.tidyverse.org) (v0.2.0).

[2018-09-16 08:58] layik commented on #30
[code]
Committing.

[2018-09-16 09:01] #30 closed

[2018-09-16 09:48] Robinlovelace commented on #30
Awesome fast work @layik. From kitchen surrounded by hung-over people. Showing the guests here the power of geographic data science!

[2018-09-16 10:01] SymbolixAU commented on #30
If there's any features you want (such as adding an `attr(x, "class") <- "json"` or something let me know on my [issues page](https://github.com/symbolixau/geojsonsf/issues)

Also be aware of [this one where elevation isn't supported yet](https://github.com/SymbolixAU/geojsonsf/issues/28)

[2018-09-18 10:33] mpadge opened #31 "Traffic example does not work"
Most of the functionality described in current `README` works like magic, but I get one error in trying to build and serve the traffic data example.
[code]
That all runs okay, then
[code]
The error means that the following just delivers a blank screen:
[code]
although `localhost:8000/api/data` does contain the expected `geojson` data. The output of the `npm` log looks like this:
[code]

[2018-09-18 10:34] Robinlovelace commented on #25
Here's the beginnings of making the max arg work:

[code]

[2018-09-18 10:45] mpadge opened #32 "GeoJSONComponent duplicated"
I see the following warning on `gp_build()`:
[code]
In [`./inst/src/js/Welcome.js`](https://github.com/ATFutures/geoplumber/blob/master/inst/js/src/Welcome.js), you've got (current [Line#7](https://github.com/ATFutures/geoplumber/blob/master/inst/js/src/Welcome.js#L7)):
[code]
and then in [`R/gp_add_geojson.R`](https://github.com/ATFutures/geoplumber/blob/master/R/add_geojson.R), you've also got t

[2018-09-18 10:46] mpadge opened #33 "rm gp_ prefix from all R/ file names"
These are redundant, and the directory would be visually easier to scan if the file names didn't have the `gp_` prefixes

[2018-09-18 10:50] mpadge opened #34 "Switch default directory to tempdir()"
I appreciate that it's generally easier **not** to do this, but if this package is going to one day be sent to CRAN, then `tempdir()` is the only choice that will be accepted by them, so it may be easier to do this now? Feel free to disagree by closing this issue.

[2018-09-18 10:54] Robinlovelace commented on #34
As long as it says where the app is located in a message, and can be overridden by user (features already in there I think) that sounds sensible to me.

[2018-09-18 11:00] layik commented on #34
Over to you two! I am happy to to what it takes to get it on CRAN!

[2018-09-18 11:02] layik commented on #33
Thanks Mark.

I was thinking about this. [Others (sf)](https://github.com/r-spatial/sf/tree/master/R) are doing this, so will do and push.

[2018-09-18 11:03] layik commented on #32
Thanks again Mark, will check test case and push.

[2018-09-18 11:04] layik commented on #31
For this one, wondering how to simulate your system config. But it is not something affected by the duplicate declaration here #32?

[2018-09-18 11:56] layik commented on #31
Can you please re-run this now that we have removed the duplicate #32 issue @mpadge? I just did and all looked good except for inconsistency of Rstudio Viewer which we are aware of.

[2018-09-18 12:12] layik commented on #34
A reference to CRAN's docs/view would be useful and will see if I can Google it up.

[2018-09-18 12:34] mpadge commented on #34
Yeah, it's just like `leaflet`, which also simply dumps everything into `tempdir()`. That's the only way that CRAN will accept things, and we can just issue instructions for how to move the entire contents of that to some other place

[2018-09-18 12:36] #33 closed

[2018-09-18 13:27] layik opened #35 "Points: use Circle/Marker, setting to choose and cluster if possible!"
`add_geojson` could have a param to view as "cirlce" as default is marker. 1000 points looks like this.

Also, lets cluster them if they are markers.
![screenshot from 2018-09-18 14-25-14](https://user-images.githubusercontent.com/408568/45690680-d75f7280-bb4e-11e8-96a1-e1ee9dca05df.png)

plot()
![rplot](https://user-images.githubusercontent.com/408568/45690742-f4944100-bb4e-11e8-89b7-ec90fc32dbfa

[2018-09-18 13:28] layik commented on #30
#25 @SymbolixAU

[2018-09-18 13:46] Robinlovelace commented on #25
Heads-up @symbolixAU - @layik the tag didn't work 1st time around. Maybe open-up an issue if one would be appreciated 😄

[2018-09-18 14:04] layik commented on #25
Done https://github.com/SymbolixAU/geojsonsf/issues/29

[2018-09-18 22:06] SymbolixAU commented on #25
closed in https://github.com/SymbolixAU/geojsonsf/issues/29#issuecomment-422572949

you need to use `sf_geojson()` to from `sf` to geojson

[2018-09-19 07:34] mpadge commented on #31
Cool, I can no longer reproduce that error, so happy to just pretend it never happened. :smirk:

[2018-09-19 07:34] #31 closed

[2018-09-19 08:35] layik commented on #34
Thanks @mpadge just to make this concept crystal clear and indeed clarify where "geoplumber" stands. There was #9 which is now too old.

I can see two types of users for `gp`/geoplumber:
1. One use case of geoplumber is someone like me who will do ATT again.
1.1 creates the web app and never uses `pg` again.
1.2 As the package grows (1.1) user might reconsider and say, well I can do quite a lot of

[2018-09-19 08:41] layik commented on #25
Thanks @SymbolixAU

[code]

[2018-09-19 08:46] mpadge commented on #34
sorry for overlap with #9 - i hadn't seen that issue. (It was during my wonderful holiday, so I don't feel bad either!) I *think* that the `wd` workflow I've now implemented would apply equally to both use cases. Although the considerations of #9 remain entirely valid, my main concern in implementing this `wd` stuff was that the package as it stood would never have been accepted on CRAN. These `wd

[2018-09-19 09:16] layik commented on #34
Great, I thought there was some change but sounds like it is only to do it better (CRAN included).

As you might know, still not up to speed with this but but should be by this afternoon. Great work Mark.

[2018-09-19 09:28] mpadge commented on #34
Maybe the best solution, contrary to how i named the issue, it to leave the default directory as is, but then to change all tests and examples to use `tempdir()`. (Now pretty easy with the changes I've implemented) The would then be acceptable on CRAN, and leave an easier default behaviour that wouldn't require users to manually copy stuff from `tempdir()`. Alternatively, we could use `tempdir()`

[2018-09-19 09:32] mpadge opened #36 "Windows"
Coz we're going to have to do it, and @layik I guess you're the only one in a position here to do this. How difficult will it be?

[2018-09-19 09:35] layik commented on #36
Should really not be so hard. R has all the power needed.

[2018-09-19 09:35] mpadge opened #37 "Write proper tests"
I suggest that we actually implement full tests and just switch them off with `testthat::skip_on_cran()` or [equivalent](https://github.com/ATFutures/dodgr/blob/master/tests/testthat/test-dodgr.R#L3-L4). When we do #36, we can also use appveyor, and then with travis we'll be able to test Windows, Linux, and Apple OSs.

[2018-09-19 09:36] layik commented on #37
And I need more time with "testthat" :)

[2018-09-19 09:43] layik commented on #34
This sounds to me to be the correct choice.

[2018-09-19 09:44] layik commented on #36
From @mpadge on Slack: https://github.com/r-hub/rhub

[2018-09-19 09:48] layik commented on #37
Plenty [here and other test files](https://github.com/trestletech/plumber/blob/master/tests/testthat/test-plumber.R) to make sure:
1. Default (inst) plumber.R is tested.
2. Use it to assist users as they start adding endpoints into their own geoplumber apps
3. Also, I learn `testthat`

[2018-09-19 09:49] layik commented on #32
Clsoing this @mpadge. Reopen if not done properly.

[2018-09-19 09:49] #32 closed

[2018-09-19 09:52] mpadge commented on #37
@layik Initial full test added with [this commit](https://github.com/ATFutures/geoplumber/commit/ce86c033c3c385d81ebe54c893433745ae486a59). I'll wait and see what travis says ...

[2018-09-19 10:18] mpadge commented on #32
Great fix! Thanks

[2018-09-19 10:36] mpadge opened #38 "Reduce travis apt list"
Following [this short discussion](https://github.com/ATFutures/geoplumber/commit/8ea0fbfefcf4c7380db86642aedf41d30a7cc92f)

[2018-09-19 11:39] mpadge commented on #37
Thanks to a great morning's teamwork, first full install and build test now passes. @layik Now that we've got coverage reports, we can see that the biggest missing (i.e., untested!) pieces are `endpoint_from_clip()` (57 lines) and `plumb()` (18 lines). I'll try to find a way to test the latter; do you want to write tests for the former? That'd be cool. If we had full coverage of those, we'd have 7

[2018-09-19 12:37] layik commented on #37
I will @mpadge, thanks to the tempdir should be straightforward. Leave it with me.

[2018-09-19 12:38] layik commented on #37
`plumb` has to wait until I work out how it is done in original `plumber` repo.

[2018-09-19 14:47] layik commented on #37
I *hope* the mock test is done "properly" @mpadge.

[2018-09-19 15:01] layik commented on #37
I cannot see how "run" is tested, but I can see that each endpoint can be "called" or "exec"ed?
https://github.com/trestletech/plumber/blob/master/tests/testthat/test-plumber.R#L115

[2018-09-19 15:35] layik commented on #37
Sounds like "mock" is not taken into account here
https://codecov.io/gh/ATFutures/geoplumber/tree/master/R

[2018-09-20 21:02] layik commented on #37
https://github.com/ATFutures/geoplumber/commit/99b4e636e27a31639cfa4466b21e6d65b2495cb7

[2018-09-21 07:42] layik commented on #34
Hi @mpadge. Is this done? I think I am now up to speed with the very useful `util` functions. I did put some comments on for my future reference.

[2018-09-21 07:44] layik commented on #35
Working on this.

[2018-09-21 08:41] Robinlovelace opened #39 "Test case gcvt"
@cmcaine has developed a web app using npm package: https://github.com/IntegratedTransportPlanning/gcvt

We talked about the possibility of using geoplumber to set-up the JS side. A good use case I think. Possible topic for a minihack.

[2018-09-21 10:57] layik commented on #39
Thanks Robi.

I will have a look and happy to help with front end. I am getting into liking the freedom of plumber/httupv server side work. And for front end I can only focus on React for now @cmcaine. Sorry if can’t do more.

[2018-09-21 13:36] Robinlovelace commented on #39
@cmcaine does Thursday morning next week work for you?

[2018-09-21 13:50] layik commented on #35
So as starting point, we can now set front end to visualise points either as markers or circles, if we don't, it will decide based on a 10 point threshold to decide between marks and circles.

Circle "styles", would be next (separate issue/card perhaps)

We will leave clustering markers for now. It raises other design issues at this stage and not necessary.

<img width="420" alt="screen shot 2018-

[2018-09-21 13:50] #35 closed

[2018-09-21 13:58] Robinlovelace commented on #35
Looking good!

[2018-09-21 13:59] Robinlovelace commented on #35
Next-up I guess: colour schemes and legends.

[2018-09-21 15:56] layik commented on #34
@mpadge this is still not 100% clear either in my head or parts of it still need to be implemented.

Do we then suggest that we need to switch to `gp_create(tempdir())` or add necessary bits in `gp_create()` to use `temper()`. In both of these cases, if `tempdir` generates paths like this, then Create React App is not happy with it.
[code]

[2018-09-21 15:58] layik opened #40 "gp_create does not fail when npx command fails"
[code]

Reprex ignore the system outputs hence, not reprex'ed.

[2018-09-21 15:58] layik commented on #40
#34

[2018-09-21 19:38] layik commented on #34
Ah, glad we are not he same page.

[2018-09-22 05:49] SymbolixAU commented on #30
@Robinlovelace @layik I've found another issue you should be aware of, and this one is a bit more serious

https://github.com/SymbolixAU/geojsonsf#warning-note-2018-09-22

[2018-09-22 09:58] layik commented on #30
Thanks for letting us know @SymbolixAU, will definitely watch out for it.

[2018-09-22 09:59] layik commented on #35
Indeed @Robinlovelace.
Thanks @mpadge I get to love React even more tbh.
What is next is actually a serious take on Shiny. Commit coming!

[2018-09-25 21:57] SymbolixAU commented on #30
@Robinlovelace @layik So I can plan my updates to `geojsonsf`, what are your timelines for release of geoplumbr?

I've been working on a new JSON converter ([jsonify](https://github.com/SymbolixAU/jsonify)) which, when complete, should make the conversion from `sf` to GeoJSON faster. But It won't be ready for a couple (2-4) weeks yet.

[2018-09-25 22:09] Robinlovelace commented on #30
At least month of testing/feedback before we submit it to cran is my guess. Layik is the main person behind it tho so with getting his view 2.

[2018-09-27 13:17] Robinlovelace opened #41 "Add grow slider"
To show an example of interactivity on the JS side.

[2018-09-27 13:19] Robinlovelace opened #42 "One for vignette: Uniexplorer"
With text box city name.

[2018-09-27 13:25] Robinlovelace opened #43 "gp_add_slider()"

[2018-09-27 13:42] Robinlovelace opened #44 "gp_add_geojson argument: color or colorscheme"
E.g. to change the color of uni_poly in the `@examples`

[2018-09-27 13:45] Robinlovelace opened #45 "Add more example datasets"
- [x] Road crashes in Southwark
- [x] Road network in Southwark

Allow different layers to be shown.

[2018-09-27 14:04] layik commented on #39
So our meeting today clarified where the two projects stand and the amount of overlap in between. But will leave this to you @Robinlovelace to close/elaborate etc.

[2018-09-27 14:06] layik commented on #37
As it is not a "scoped" title @mpadge I think we can close this ticket. The fact that there is no React/frontend test code is clearly there. We can open new issue tickets to make the future "components" covered or indeed to further cover the R side.

[2018-09-27 14:07] layik commented on #25
Other tickets just jump the priority queue over this one.

[2018-09-27 14:08] layik commented on #40
Will be next.

[2018-09-27 14:09] layik commented on #18
will revisit this at some point.

[2018-09-27 14:10] Robinlovelace opened #46 "Split-out react front-end generator"
One for the future, if at all. Creating issue to document the idea but closing as not doing it now.

[2018-09-27 14:10] #46 closed

[2018-09-27 14:11] #39 closed

[2018-09-27 14:16] layik commented on #43
A `gp_add_slider` would add a "slider" component to the front end (could specify where) somehow. Clarifications/implementation comes later.

[2018-09-27 14:18] layik commented on #30
I just added two [milestones](https://github.com/ATFutures/geoplumber/milestones), apologies to you both @SymbolixAU and @Robinlovelace been working on something else (very [cool](https://github.com/ATFutures/ical). So hopefully that gives us some rough timelines.

[2018-09-27 23:15] SymbolixAU commented on #30
@layik thanks. I'll work to getting `geojsonsf` updated in mid-October.

[2018-10-01 08:02] mpadge commented on #18
I don't think you need to. Especially from the CRAN view, the `sudo` operations won't ever pass, because they won't translate into windows. For that, you just have to pre-specify system requirements, so the current solution really is the only generally acceptable approach, I'd suggest.

[2018-10-01 08:05] #37 closed

[2018-10-01 08:10] Robinlovelace commented on #18
Thanks for the input Mark, sounds good!

[2018-10-01 08:49] layik commented on #38
[This](url
https://github.com/ATFutures/geoplumber/commit/81c6bf007db421acd017cf8ac9704886990f2052) has decreased the [build time](https://travis-ci.org/ATFutures/geoplumber/builds) on travis (from about 6 to 11 mins to about 3 mins) and also allows us to write more tests.

[2018-10-01 08:51] layik commented on #40
now next!

[2018-10-01 13:58] #40 closed

[2018-10-01 14:04] layik commented on #34
Sorry to trouble @mpadge and @Robinlovelace

1.Now that #40 is out of my way I would like to finalise this. Clearly the [Facebook](https://github.com/facebook/create-react-app) `npx` command is not happy with `tempdir()` as it complains that "name can no longer contain capital letters". Can I just do `tolower(tempdir())` for my "on the fly" functions like `gp_sf()`? I see no reason why not.
2. And

[2018-10-01 14:08] layik commented on #37
I am aware [this](url
https://github.com/ATFutures/geoplumber/commit/81c6bf007db421acd017cf8ac9704886990f2052) has brought the code coverage down considerably but we know why and I hope the package would grow to make the create, build and plumb functions the lesser part of the package.

[2018-10-01 14:09] layik commented on #41
Few more tickets of prep and ship shaping other functions and will get on to this.

[2018-10-01 14:37] Robinlovelace commented on #34
Good work Layik. The `tempdir()` issue is a bit beyond my ken. If we're not including building of apps in CRAN tests I'm not sure current dir builds would be an issue but the `tolower()` option sounds like it may be viable, if a little 'bodgy'. :construction:

[2018-10-01 15:47] mpadge opened #47 "Exclude lines from codecov"
@layik Line that we really don't want tested can be excluded from codecov reports, like [this example for `dodgr`](https://github.com/ATFutures/dodgr/blob/master/.travis.yml). This will improve coverage. I'll have a look through tomorrow and give it a start

[2018-10-01 15:53] mpadge commented on #34
Path specifications in most OS's, including generic windows, are not case sensitive. Windows can nevertheless be made case sensitive by simply setting the `FILE_FLAG_POSIX_SEMANTICS` variable. I've no idea whether or not this might be the case for CRAN test machines, but once we've got some tests actually running on Windows machines (and now that I've finally enabled Appveyor for our org), we shou

[2018-10-02 07:46] mpadge commented on #34
Here's a really nice example of default permanent directory with switch to `tempdir()` for tests, from the [`R.cache` package](https://github.com/HenrikBengtsson/R.cache/blob/master/R/setupCacheRootPath.R).

[2018-10-02 09:16] layik commented on #34
Thanks @mpadge and @Robinlovelace.

That R.cache example would need some time for my R muscles to digest. I have been playing with it but haven't got a push just yet.

[2018-10-02 09:17] layik commented on #18
Great.

[2018-10-02 09:22] layik commented on #18
Just to prevent this issue popping up again. The reason was this: is there a way we could let the user setup their npm as outlined here? https://docs.npmjs.com/getting-started/fixing-npm-permissions

The answer is the same as this issue. There is some form npm setup by the user and it should not be the concern of this package.

[2018-10-02 09:46] layik commented on #47
Sorry could not get back on this earlier @mpadge. Great! I just realised its an R package 📦. So this should work, but the only way to find out is to push? Could I run it locally? Trying..
[code]

[2018-10-02 10:15] mpadge commented on #47
Updated `dodgr` example now uses [`function_exclusions`](https://github.com/ATFutures/dodgr/blob/master/.travis.yml#L46) which is even easier

[2018-10-02 10:21] layik commented on #47
Thanks Mark, I saw the function example. Not sure if just adding the name would mean it would ignore all function calls. :) trying again.

[2018-10-02 17:40] layik commented on #47
I think `covr` is designed to ignore test file lines or I cannot see how it is done. I am looking at `Sys.setenv` and getenv to work around this and move the switch into the actual code or some other way.

[2018-10-02 21:03] layik commented on #47
This is what we have done:
https://github.com/ATFutures/geoplumber/blob/master/tests/testthat/test-gp_build.R#L7
Looks for an env var and for us we can set this using a `Renviron` file at `~/` for [security reasons](ftp://cran.r-project.org/pub/R/web/packages/httr/vignettes/secrets.html). Travis and `covr` would not have it an would therefore run full tests (giving up on shortening build times on

[2018-10-02 21:07] Robinlovelace commented on #47
Looks good to me!

[2018-10-02 23:02] layik commented on #34
Another update.

I would love to tell the people on top of R foundation, that above comment should be in the description and not hidden by the examples of `?tempdir`.

Anyways, to get `tolower` (which works fine) in the "tests" as per Mark's great [supervision](https://github.com/ATFutures/geoplumber/issues/34#issuecomment-422726426), I also need to cater for different platforms. I think "create"

[2018-10-03 10:39] layik commented on #34
Almost there.

[2018-10-03 11:41] layik commented on #41
Working on this.

[2018-10-03 13:09] layik commented on #43
#41

[2018-10-04 07:32] layik opened #48 "npm build fails"

[2018-10-04 08:13] mpadge commented on #34
This is great - I'll give it a good go-through as soon as I get a chance, but this looks like a great solution

[2018-10-04 09:54] layik commented on #34
Thanks @mpadge removed the reference to the other issue as they are unrelated at this stage.

[2018-10-04 09:59] layik commented on #48
This is becoming an annoying issue.

Error:
[code]
In full:
[code]
Cause:
Removing the mentioned css file from the project DOES build.

Diagnosis:
Not happening on travis and went back quite few commits and still found the same issue.
Not happening during `npm start`

[2018-10-04 10:04] layik commented on #48
Also happening if CRA is upgraded to 2.0

[2018-10-04 10:08] layik commented on #48
https://github.com/browserslist/browserslist/issues/266

[2018-10-04 10:41] layik commented on #48
Strange, with "clean" run of the front end direct from `inst` files builds. Almost there.

[2018-10-04 13:45] layik commented on #48
1 full day later:
npx create-react-app (CRA) creates a `package.json` with following without which CRA is not happy and gets created with our "semi automated" gp_build function.

[code]
we copy our package.json over it and when we run `npm run build` it does not like that `not dead`.

Is this nightmware over? :) next commit will tell.

[2018-10-04 14:19] #48 closed

[2018-10-06 10:34] layik commented on #41
Not sure if a reprex would work but this should work on your machine
[code]
That should give you
1. traffic locations data with cirlces
2. slider would grow the circles between 1 - 10

[2018-10-06 10:38] layik commented on #41
<img width="1177" alt="screen shot 2018-10-06 at 11 36 02" src="https://user-images.githubusercontent.com/408568/46570441-25041980-c95c-11e8-8593-977ee3bbbf42.png">
<img width="1175" alt="screen shot 2018-10-06 at 11 36 19" src="https://user-images.githubusercontent.com/408568/46570442-259cb000-c95c-11e8-9e52-97f256f402c7.png">
<img width="1175" alt="screen shot 2018-10-06 at 11 36 37" src="https:

[2018-10-06 10:38] layik commented on #45
Will get to this at some point!

[2018-10-06 20:57] layik commented on #45
Will be great Robin.

[2018-10-07 20:42] mpadge commented on #47
Yeah, that's all fine and dandy, except I'd suggest that `RUN_FULL_TEST` is a bit ambiguous - full test of what?. System variables to control tests are usually only controlled by a single package maintainer, so are more commonly of the kind i generally use: "MPADGE_LOCAL". If I find that variable, then I determine within the very local scope of a single test file what "full test" might actually me

[2018-10-07 21:47] layik commented on #47
Thanks a lot and super insights Mark. I will be much more nit-picky too from now on. I just could not get covr to ignore a line or two :) I hope I can in future.

[2018-10-07 21:47] layik commented on #47
"GP_LOCAL_INCLUDE_BUILD" or something like that.

[2018-10-08 11:41] layik commented on #41
working on adding "linewidth" to leaflet with slider component.

[2018-10-09 20:55] layik commented on #41
linewidth added, one of the previous commits.

With last [push](https://github.com/ATFutures/geoplumber/commit/6e016669f73689c23d6c68c7c95adcccaf0bf42e), following should do a "server side" `sf` st_buffer of the `uni_poly` object. This is clearly easy on client side, using js packages like D3 or turf. What we are demonstrating here is React/R (geoplumber) can easily query the server for "R" power.

[2018-10-09 21:16] Robinlovelace commented on #41
This is awesome. Just playing with it now. Yes, I say, fantastic work.

[2018-10-09 21:16] #41 closed

[2018-10-09 21:20] Robinlovelace commented on #41
Proof that the above code is reproducible: just reproduced it, as illustrated below, this project I think is close to take off :rocket:

![peek 2018-10-09 22-19](https://user-images.githubusercontent.com/1825120/46699371-7f79d000-cc11-11e8-9716-e1223296c7d6.gif)

[2018-10-09 22:55] #43 closed

[2018-10-10 05:37] Robinlovelace commented on #41
Quick question/idea @layik: I think it would be interesting and very educational to show similar functionality done on the client side, e.g. with https://github.com/Turfjs/turf/tree/master/packages/turf-buffer

The benefit of the js solution is not just speed/resource use: it also has sensible units (I suggest km in this case)!

An example that would go really well in a vignette/paper on the subje

[2018-10-10 09:16] layik commented on #41
ah, just see this. Thanks for checking on turf-buffer! Absolutely. Glad I was right in my assumption. Creating a new issue this one has dragged a little bit too far :)

[2018-10-10 09:20] layik opened #49 "Buffer on client side"
Following from #41 and [comment](https://github.com/ATFutures/geoplumber/issues/41#issuecomment-428444091) here, there might be some value at this stage for the repo to show what both approaches look like.

[2018-10-10 09:21] layik commented on #49
Asks @Robinlovelace on Slack.

[2018-10-10 14:45] layik commented on #44
For now just simple color value to the GeoJSON component on LeafletJS side.

[2018-10-10 14:56] layik commented on #44
One more gp_remove_lines function and we will be able to this with recent pushes.

[2018-10-10 14:56] Robinlovelace commented on #44
Nice!

[2018-10-10 14:57] Robinlovelace commented on #44
I'm just about to work on the additional data layers.

[2018-10-10 20:28] layik commented on #45
Of course subset it with road names.
![screenshot from 2018-10-10 21-27-55](https://user-images.githubusercontent.com/408568/46764103-78b39180-ccd3-11e8-939b-9072a056de1f.png)

[2018-10-11 06:14] Robinlovelace commented on #45
Looks quite disconnected. But yes, that will provide at least 3 layers. Only missing layer type is polygons when that goes in an there's open data on that.

[2018-10-11 08:15] layik commented on #45
I think the disconnect is more to do with the roads where sample was taken, yes I can see potential within road disconnects, too.

[2018-10-11 09:58] layik commented on #41
The GIF is going into the .Rmd. Thank you @Robinlovelace.

[2018-10-11 13:41] layik commented on #44
[code]
![image](https://user-images.githubusercontent.com/408568/46808105-6aad5180-cd63-11e8-9717-49d1dc840050.png)

To change the color:
[code]
![image](https://user-images.githubusercontent.com/408568/46807904-f4105400-cd62-11e8-867f-0c46b5fe6416.png)

From fresh or reproducible example:
[code]

[2018-10-11 14:10] Robinlovelace commented on #44
Looking good. Any thoughts on colorschemes, e.g. based on https://github.com/d3/d3-scale-chromatic which seems to be in-line with the viridis package in R.

[2018-10-11 14:35] layik commented on #44
In the pipeline.

[2018-10-12 09:03] layik commented on #44
@Robinlovelace I have a feeling the later I include d3 the worse it might be.

Shall we, if @cmcaine or @mpadge or anyone else would like to contribute choose a "js vis package" at this stage so we can do things like coloschemes? Do we need a separate ticket? Any thoughts, thanks everyone.

[2018-10-12 09:04] layik commented on #44
My view: I see quite a few npm packages out there, but we should just go for the source, [d3](https://github.com/d3). As you mentioned, start with that [module](https://github.com/d3/d3-scale-chromatic).

[2018-10-12 09:43] cmcaine commented on #44
Vega or Vega Lite are the only others I would consider.

On Fri, 12 Oct 2018, 10:04 Layik Hama, <notifications@github.com> wrote:

[2018-10-12 10:19] layik commented on #45
Just remembered, I have done this rather big (13mb only geometry) network using awesome osmdata @Robinlovelace, not sure if that is what you mean in the other thread with @mpadge.
![screenshot from 2018-10-12 11-17-43](https://user-images.githubusercontent.com/408568/46863882-8884c000-ce10-11e8-8141-8badcf76216b.png)

[2018-10-12 10:40] layik commented on #44
Thanks @cmcaine! Will have a good look.

[2018-10-12 10:49] Robinlovelace commented on #45
It's too big to fit on CRAN as an example dataset (5MB limit). Suggest creating a 'core network', e.g. only A and B roads and ones with traffic counts on and ones that connect between them. Creating a minimal (~100 kB) core network in a small area of London is not as simple as it first may seem!

[2018-10-12 13:09] layik commented on #45
Correct.

[2018-10-12 13:10] layik opened #51 "gp_sf renders geom only"

[2018-10-12 16:04] layik commented on #45
Primary roads only, 1,107,896 bytes
![screenshot from 2018-10-12 17-03-38](https://user-images.githubusercontent.com/408568/46880542-dca79880-ce40-11e8-9171-e8382300992f.png)

[2018-10-12 16:15] layik commented on #45
I will leave it there, I have these saved in a separate project if we need them.

[2018-10-12 16:41] Robinlovelace commented on #45
Looking good, suitable example dataset. Worth including with `usethis::use_data("traffic_network")` and documenting in `data.R`? I suspect so!

[2018-10-13 06:53] layik commented on #24
http://r-pkgs.had.co.nz/vignettes.html

[2018-10-13 20:35] layik commented on #51
Pending https://github.com/SymbolixAU/geojsonsf/issues/38

[2018-10-13 20:50] layik commented on #45
Will do!

[2018-10-13 21:13] layik commented on #45
If you are happy we can tick the second check box @Robinlovelace :)

Note: this type of data (one column geom sf objects) currently not "properly" rendered by geoplumber pending a slight change in #51 related to an underlying package.

[2018-10-13 21:18] layik commented on #42
Right, this might have to wait for 0.2 but will see if we can push it before 5th Nov.

[2018-10-14 06:50] Robinlovelace commented on #42
This is a long-term one + an optional, not essential.

[2018-10-14 07:01] Robinlovelace commented on #45
Fantastic work, job done!

Related issue is that I cannot get it to show with `gp_sf()` even after coercing it to `sf` class. can you reproduce this? Job done in any case!

[code]

[2018-10-14 07:01] #45 closed

[2018-10-14 07:56] Robinlovelace commented on #45
Aha yes thanks for the clarification!

[2018-10-15 06:59] layik commented on #44
Sounds like two ways of achieving "proper" colorschemes:

1. Do it in R using approaches used by other mapping packages including shiny's leaflet.
2. Do it in JS (hence above d3 module)

Still not clear which approach I should be taking in geoplumber but working on it.

[2018-10-15 08:14] Robinlovelace commented on #44
Thanks for the update. What are your views with your JS hat on @cmcaine ?

[2018-10-15 10:19] layik commented on #44
Perhaps I should implement one and leave other for "future work".

What leaflet/R side only approach does, is eventually (2 "do it in JS") but always start with (1).

[2018-10-15 10:19] layik commented on #44
Will see if I can take a simple "color*" grDevices function for a starter.

[2018-10-15 13:43] #51 closed

[2018-10-15 13:45] layik commented on #51
`gp_sf(traffic_network, props_list = list())`
should give you this

<img width="645" alt="screen shot 2018-10-15 at 14 45 01" src="https://user-images.githubusercontent.com/408568/46954607-f0ddd680-d088-11e8-9c10-dc920bc4be24.png">

- [ ] hide if "dropdown" is empty (always good!)

[2018-10-15 14:07] Robinlovelace commented on #51
Great work!

[2018-10-15 19:15] layik commented on #30
I should re-enable email notifications. Apologies @SymbolixAU for late reply. No, it won't.

I have patched current issue with adding an empty property to the df before converting it to GeoJSON. Awesome work RE new issues for v1.2!

Let me know if I can be of any other help.

[2018-10-15 21:52] layik commented on #51
https://github.com/ATFutures/geoplumber/commit/5b6446b1c42b29f313456fff7a722e2a71d9d3c7#diff-65b4dc2108ed3e8bdb33e6cd5f0b0d82L58

[2018-10-16 09:26] layik opened #52 "geojsonsf failing on Date column"
reporting to upstream
[code]

Created on 2018-10-16 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-10-16 09:30] layik commented on #52
Two issues here:
1. The resulting geojson needs to have a "FeatureCollection" prop.
2. Date needs to be converted to character.

[2018-10-16 10:07] SymbolixAU commented on #44
If it helps, [colourvalues](https://github.com/symbolixau/colourvalues) may be of use on the R side.

[2018-10-16 10:11] layik commented on #44
Thanks @SymbolixAU, will check it out right away.

[2018-10-16 14:58] layik commented on #52
Decided to leave this as it is and wait for the update propagating.

[2018-10-16 14:58] #52 closed

[2018-10-17 09:37] layik commented on #30
Dear @SymbolixAU, with both `geojsonsf` and now considering `jsonify`, I am hitting the block that I either use both `geojsonio` and `jsonlite` in parallel or I am struggling to do my reads both from disk and remote paths. Do you suggest a way forward for now? Use `geojsonio` for read and `geojsonsf` for conversion?

Thank you!

[2018-10-17 09:47] SymbolixAU commented on #30
@layik I'm not sure I understand your question. Do you need a way to read a geojson file from disk?

[2018-10-17 10:03] layik commented on #30
@SymbolixAU indeed or best, one that would take a remote URL or a local path, the equivalent of `geojsonio::geojson_read()` function.

[2018-10-17 10:06] SymbolixAU commented on #30
`geojson_sf()` can read urls

[2018-10-17 10:08] SymbolixAU commented on #30
i.e.

[code]

works

[2018-10-17 10:11] layik commented on #30
Oh! You guys need some docs work, and I apologize if I cannot send a PR. I did search for read!

[2018-10-17 10:11] layik commented on #30
Testing local paths.

[2018-10-17 10:13] layik commented on #30
Interesting! That gives me an `sf` `data.frame` class. I have unfinished code to do that and you guys have done it. Thank you.

[2018-10-17 10:16] SymbolixAU commented on #30
There's just one [thing missing](https://github.com/SymbolixAU/geojsonsf/issues/20), but I don't think it prevents the object from being valid `sf`

[2018-10-17 10:18] layik commented on #30
Well, I will cross that bridge when I get there. No idea what it is. Thank you for being around!

[2018-10-20 11:21] SymbolixAU opened #53 "Reading from URL"
In [this line](https://github.com/ATFutures/geoplumber/blob/master/R/geojson.R#L31) you're reading the GeoJSON, converting to sf, then converting back to GeoJSON.

In summary:
[code]

Would it be more performant to directly read the GeoJSON and leave it as-is, rather than round-tripping to `sf` and back?

[code]

[2018-10-24 10:09] layik commented on #53
Thanks @SymbolixAU why did I miss this? It is because we have something more urgent here. Appreciate the input.

To answer your question:
The rason is that geoplumber is trying to serve the data from internal api endpoints, we discussed this, as you rightly ask, we could probably just read it and dump it to the body of the response object [here](https://github.com/ATFutures/geoplumber/blob/master/

[2018-10-24 10:35] layik commented on #53
[code]
Seems to work, the reason for this `collapsing` cropped up before, it is to do with underlying packages of `plumber`. But as I do more tests might push and close this.

One more time, thanks a lot.

[2018-10-24 10:43] SymbolixAU commented on #53
yes, that's exactly what I do [here](https://github.com/SymbolixAU/geojsonsf/blob/master/R/geojson_sf.R#L191) too - `paste0(readLines(url), collapse = "")`

[2018-10-29 08:06] layik opened #54 "covr failing on Travis"
[Travis](https://travis-ci.org/ATFutures/geoplumber/jobs/447658102#L1900) log

[2018-10-29 10:42] layik commented on #54
No passing!
https://travis-ci.org/ATFutures/geoplumber/builds/447708790

[2018-10-29 11:59] Robinlovelace commented on #54
Yay! I had similar woes with stplanr as the build log here shows: https://github.com/ropensci/stplanr/pull/274

[2018-11-03 12:18] layik opened #55 "Backward compatible with R v3.3"
Or as lower as possible. Could you please throw in any concerns. Thanks.

[2018-11-05 21:48] layik commented on #38
Looks like this will get much better if we can do similar to what we have don't for [ATT](https://github.com/ATFutures/activeTransportToolbox/blob/master/Dockerfile).

[2018-11-05 21:51] layik commented on #53
So far all good. Closing and appreciate all your input @SymbolixAU. geojsonsf has made things quite different for me.

[2018-11-05 21:51] #53 closed

[2018-11-06 11:38] layik commented on #54
not sure if this issue had anything to do with a PAT added to Travis, if it did, PAT has been added.

[2018-11-14 14:44] layik commented on #36
There is reason to bring this forward.

[2018-11-15 11:39] layik commented on #36
Here we are https://github.com/ATFutures/geoplumber/commit/b21120a26343225db8839c56847811f9d0a63ad4

[2018-11-15 11:57] layik commented on #36
My tests all run fine, I will close this ticket and if there are any issues related to this we can reopen. Thanks @mpadge!

[2018-11-15 11:57] #36 closed

[2018-11-19 14:41] #54 closed

[2019-01-16 11:11] layik commented on #55
Someone else should reopen this.

[2019-01-16 11:11] #55 closed

[2019-01-16 11:17] layik opened #56 "Add check before running npm_start (cross platform)"
Correct way of checking if something is running on port 3000 and then ..etc

[2019-01-16 16:21] silberzwiebel opened #57 "example app fails"
Hey there :)

I was following these steps from the README to get `geoplumber` up and running:

[code]

 However, `gp_plumb()` crashes `R` completely (the output of the other commands read fine too me):

[code]

 I did this on two different machines, both running Fedora 29. I tested with both the `node` version from Fedora's repository (version 10.15.0) and also once with [`node` installed from her

[2019-01-16 16:42] layik commented on #57
Hey @silberzwiebel thanks for reporting this!
Get back to you soon.

[2019-01-16 16:50] layik commented on #57
I can reproduce that and yes, from your traceback it looks like `geojsonsf::sf_geojson(uol)` to blame. Will fix and reference this issue @silberzwiebel. Apologies, I can only blame the dependencies and lack of test code for 100% coverage.

[2019-01-16 17:11] layik commented on #57
OK we blamed the right line and @SymbolixAU might know what has changed.

To fix:

`my_app/R/plumber.R line 35` should be

`uol <- geojsonsf::sf_geojson(uol)`

please change it to
`uol <- geojsonsf::sf_geojson(uol, factors_as_string=FALSE)`

That should make `geojsonsf` happy.

I will push the change now and I think, you just fixed my Travis, too.

The other way of course, is once you pull the app

[2019-01-16 17:15] layik commented on #57
Did not mean to close it, please close it when your code runs fine.

[2019-01-16 17:31] layik commented on #57
Thanks @silberzwiebel one more time, this fixed Travis too.

[2019-01-17 00:03] SymbolixAU commented on #57
It's odd that it crashed; I made the [new function have defaults values](https://github.com/SymbolixAU/geojsonsf/blob/master/R/sf_geojson.R#L36), so I don't know why this happened.

[code]

I've made an [issue](https://github.com/SymbolixAU/geojsonsf/issues/62) to look into this.

[2019-01-17 01:32] SymbolixAU commented on #57
Update:

I've tracked down the culprit and made a few changes
https://github.com/SymbolixAU/geojsonsf/issues/62

Thanks for letting me know about this.

[2019-01-17 11:02] layik commented on #57
Thank you @SymbolixAU for your immediate reply/changes. I have now setup a cron job on Travis which should grab such changes.

[2019-01-17 17:00] silberzwiebel commented on #57
Wow, thanks a lot for the quick responses and fixes! I didn't have an actual app yet, so it was fine for me to just start it all over again and not it works out-of-the-box. Thanks!

[2019-01-17 17:00] #57 closed

[2019-01-18 02:32] SymbolixAU commented on #57
As a side note, I made `factors_as_string = TRUE` a default option in the latest release to fit in with the more modern r-paradigms, where  factors are becoming less and less important. For example, the tidyverse sets `stringsAsFactors = FALSE` by default, and so does `sf` I think.

Plus, I think it makes more sense, when converting to GeoJSON, to use the string representation of a factor, rather

[2019-01-20 00:05] layik commented on #57
Thanks @SymbolixAU. I do not count myself an expert here both in serialising JSON or the R strings_as_factors in R. Just notice that when
[code]
<sup>Created on 2019-01-20 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Not sure which factor column was being converted to strings.
Once I am a bit more R'literate, I may perhaps contribute constructively.

[2019-01-22 11:16] silberzwiebel opened #59 "creating RStudio project prior to gp_create breaks gp_create"
From the README:

I created an RStudio project and wanted to create a geoplumber app on top of that but this fails with:

[code]
Doing it the other way round (first `gp_create()` then creating an RStudio project in that folder) works fine. It might be good enough to just change the README?

[2019-01-23 09:36] layik commented on #59
Thanks @silberzwiebel. I am aware of this issue and I did leave it on purpose to be raised by someone. Here are two solutions for a `list.files() == c('rstudioproject.Rproj', '.Rproj.user')` check:

1. Move them to `tempdir()` and back after creation
2. Copy `usethis::use_rstudio()` function into `geoplumber`.

If you have any other solutions, I am happy to consider them. At this stage, it looks l

[2019-01-23 14:25] layik opened #60 "Feature request: for instance in `gp_sf`"
cc @silberzwiebel

[2019-01-23 14:33] Robinlovelace commented on #60
I cannot think of any disadvantage of adding such a function, providing it doesn't lead to 'mission creep' (whereby more and more features and arguments are added to the function). A barebones thing will differentiate it from higher-level pkgs like `mapdeck`, `tmap` and `mapview`.

[2019-01-23 14:34] layik commented on #60
Thanks @Robinlovelace. Agreed.

[2019-01-24 08:48] mpadge opened #61 "security vulnerability"
Morning @layik! @silberzwiebel is currently developing a [`gp` framework for `moveability`](https://github.com/moveability/geoplumbed-moveability) which encounters [this alert](https://github.com/moveability/geoplumbed-moveability/network/alert/package-lock.json/webpack-dev-server/open). The offending `js` tool is `webpack-dev-server`, which is loaded in [`package-lock.json`](https://github.com/mo

[2019-01-24 10:13] layik commented on #61
Hey @mpadge. Thanks for raising this, anything with security even false alarms are worth my attention. The link to the "alert" is dead but I assume it is one like this

[code]

[2019-01-25 11:14] layik commented on #61
OK. Next commit should remove this but for current apps we just need a couple of more steps just to be safe.

So to fix @silberzwiebel's current app:
1. Is there the global version of create-react-app?
[code]

If not please install it `sudo npm i -g create-react-app` there are ways of doing this without `sudo` that is a documentation issue for npm/yarn to worry about.

2. Remove the local version

[2019-01-25 11:19] layik commented on #61
Boring background stuff: somehow a "caret" got lost in that `inst` packag.json file and caused this. So apologies there.

But perhaps this is something that needs to go into the documentation somewhere, that I have made it a rule/convention that we rely on a `-g` global installation of `create-react-app` for now (till others come onboard or I find a better way of doing things). As the `gp_create`

[2019-01-25 11:30] layik commented on #61
Yes, and documentation needs "research funding" time :)

[2019-01-25 11:52] layik commented on #61
Hope to push sometime soon but may do some extra work on this which is the root of missing the caret there.

[2019-01-25 12:54] layik commented on #61
Come on github, "fix" != "close"

[2019-01-25 14:33] silberzwiebel commented on #61
Thanks, @layik! I'll have a look at your steps to fix the vulnerability next week.
(BTW I disagree with "fix" != "close" :P )

[2019-01-25 14:35] mpadge commented on #61
[here](https://github.blog/2013-01-22-closing-issues-via-commit-messages/):

But seriously, thanks @layik for taking it so seriously and fixing - great stuff!

[2019-01-28 09:39] layik commented on #59
Please reopen if need be. Thanks @silberzwiebel

[2019-01-28 13:21] layik commented on #61
Too Boring DR;
For the record and interested parties, so far what we have been doing is copy lines such as `"react": "^16.7.0",` during `gp_create()`. Then let user `gp_build()`. But `system` commands which is the "only"/current way of talking to `npm` is `asynchronous`. That means R needs to know when that has finished for `geoplumber` to issue subsequent commands.

Therefore, we fall back to cur

[2019-01-28 13:30] #61 closed

[2019-01-30 12:45] layik commented on #56
On Linux we can get/kill `ps` ID in [various](https://askubuntu.com/a/346457/561599) ways. This is not so easy on Windows. Adding such a feature must be available for both.

And...to start with, we could just leave this to the user. Everytime subsequent calls are made to `npm_start` user can just see that "something is already running" message from `node`.

Next commit should close this ticket.

[2019-01-30 12:46] #56 closed

[2019-01-31 10:12] layik commented on #44
Will try and finish this issue.

I do like
[code]

and we can pipe the result into leaflet/mapbox or even a d3 object etc.

[2019-01-31 10:15] layik commented on #44
I bet one can even go "server = TRUE" and do this on the client if user does not like to send this over the network. But "that" is the evil "Knuth" is talking about.

[2019-01-31 10:19] SymbolixAU commented on #44
@layik I define the bar_plot function [here](https://github.com/symbolixau/colourvalues#do-you-have-any-examples)

[2019-01-31 14:48] layik commented on #44
Here is how to sync endpoint pallet with fronend JS from above two commits
I cannot use `reprex::` because it would cause infinite loop. But this should be reproducible from a clean install/app

[code]

Love the rivers!

![image](https://user-images.githubusercontent.com/408568/52061758-f80cef80-2566-11e9-9a0c-d9db6aa044a9.png)

[2019-01-31 14:50] layik commented on #44
Above is the "API" way of doing things rather than `mapdeck` or `mapview` static front way of doing it (dumping pallets as JSON for Leaflet/Mapbox).

That might be something that could go into `gp_sf` along with #60. I think we can close this ticket.

[2019-01-31 14:53] layik commented on #44
ping @Robinlovelace.

[2019-01-31 17:18] Robinlovelace commented on #44
Really interesting stuff. Look forward to trying this and talking with you about this @layik.

[2019-01-31 20:24] layik commented on #44
To be clear this is sending the colorcheme over the network.

On other parameter could say: do it on the client side for me. And we can use one of the d3 functions to do this on the client side. So ineffect, doing the amazing ‘color_values’ equivalent for a nominated value on the client side.

[2019-01-31 20:37] layik commented on #24
Should be next, now that we have few use cases to present. Also to get it ready for CRAN.

[2019-01-31 21:10] mpadge commented on #24
And I'm still self-nominated in spite of my not having done anything yet. But with @silberzwiebel now cracking on this, our joint use case for moveability will be sufficient motivation for me to do this. If I don't find time tomorrow, I promise I'll be on to it by next week.

[2019-02-01 08:13] Robinlovelace commented on #24
One option @layik is to move parts of the gisruk abstract (especially the schematic diagram) into a skeleton vignette.

[2019-02-01 08:14] Robinlovelace commented on #44
Yes to automatic colour valuing on the client side.

[2019-02-01 10:57] layik commented on #44
Sure. There was always going to be some "helpers" to go into `gp`.

[2019-02-01 11:00] layik opened #64 "Remove `future`"
I better say not too much. This code might do the job.
[code]

Cannot use `reprex` for some reason.

[2019-02-01 11:01] layik commented on #64
Wont be able to work on this for a little while.

[2019-02-01 11:01] layik commented on #64
Thanks to @mpadge for his guidance on Slack.

[2019-02-01 11:15] layik commented on #24
Thanks @mpadge. Agree @Robinlovelace, hopefully Mark/Thomas will kindly remove it from the README.

[2019-02-07 11:14] mpadge opened #65 "gp_unbuild, gp_clean, gp_rm_build or some function like that"
The `gp_erase()` function cleans everything, but it would also be useful to have a function that just cleans the build, not the whole project - meaning just removing the "build" and "node_modules" directories.

[2019-02-07 15:51] layik commented on #59
I think there is still some work to be done here.

[2019-02-07 22:27] layik opened #66 "Remove/fork `react-leaflet-control` dependancy"
It has a little issue "initial render issue" and looks like package is not going to be updated.
https://github.com/LiveBy/react-leaflet-control/issues/27

[2019-03-15 12:14] #64 closed

[2019-03-15 12:40] #65 closed

[2019-03-15 12:40] layik commented on #65
Thanks @mpadge this is done now.

[2019-03-15 12:47] #66 closed

[2019-03-15 14:08] layik commented on #42
We also have a paper for vignette, closing this for now.

[2019-03-15 14:08] #42 closed

[2019-03-15 14:08] layik commented on #24
Will be putting in the GISRUK paper into the vignette.

[2019-03-15 22:23] mpadge commented on #65
That's great - this for me immediately enhances usability. Thanks!

[2019-03-17 09:59] layik opened #68 "Submit to CRAN"
- [x] Vignette: https://atfutures.github.io/geoplumber/articles/paper.html
- [x] Getting started vignette.
- [x] Submission list (files, cran-comments, news.md, spell check etc etc)
- [x] doi in DESC after GISRUK
- [x] ?

[2019-03-17 10:57] #59 closed

[2019-03-19 11:18] layik commented on #38
[code]

[2019-03-19 11:27] #38 closed

[2019-03-19 11:28] layik commented on #38
[code]
This did not work as I expected.
https://stackoverflow.com/a/41945450/2332101

[2019-03-19 11:29] layik commented on #49
I think these were coming from "optimizations" that really are not the concern of geoplumber or others around us. Reopen in future if need be.

[2019-03-19 11:29] #49 closed

[2019-03-19 11:33] layik commented on #24
Written.

[2019-03-19 11:33] #24 closed

[2019-03-19 11:33] layik commented on #44
Client side could be a fresh ticket.

[2019-03-19 11:33] #44 closed

[2019-03-20 11:38] layik opened #69 "Static geoplumber map"
At this point it should only export "geojson" or at least for this ticket. This was discussed in #44 briefly but worth its own ticket. Almost there with a ReactLeaflet template already committed into the templates, it would also mean being different to mapview, mapdeck and other awesome packages because it wold not be written in Shiny/vanillaJS.

[2019-03-20 21:25] layik commented on #69
https://github.com/ATFutures/geoplumber/commit/4ee1aab3a082bd01785e21c9f2025f02591541c3

[2019-03-21 12:13] layik opened #70 "Stop swagger appearing"
Investigate this, does `gp_plumb` need to pass FALSE to `plumber`?

[2019-03-21 16:00] layik commented on #69
Basics done. More would be reproducing leaflet or mapview. Will do a bit more to make it more useful but this can be closed.

[2019-03-21 16:00] #69 closed

[2019-03-21 16:30] Robinlovelace commented on #69
`gp_map()` is an awesome function. Deserves to be on CRAN asap!

[2019-03-21 17:20] layik commented on #69
We might as well upload it to user's GitHub "gist" or somewhere and `htmltools::includeHTML` for max reprex!
<img width="876" alt="Screenshot 2019-03-21 at 17 17 44" src="https://user-images.githubusercontent.com/408568/54771586-83b50b00-4bfd-11e9-94c1-0306a3b86b05.png">

I will get it to CRAN, promise :)

[2019-03-26 10:09] layik commented on #70
@Robinlovelace I am struggling to reproduce this with current code. Could you please do from an R console outside Rstudio:

1. setwd() to a gp app
2. gp_plumb()

and see if it fires `localhost:8000/__swagger__`

it should not really

[2019-03-26 13:05] layik commented on #68
https://github.com/ATFutures/geoplumber/commit/f713f42dbb0d974f915c55a2473d4fdd2e564637

[2019-03-27 10:15] layik opened #71 "Contributors"
Hi @cmcaine and @silberzwiebel could you (publicly or privately) let me know which emails (maybe even ORCID) should I be using for you.

Thanks!

[2019-03-27 10:49] layik commented on #71
Also full names :)

[2019-03-27 10:49] layik commented on #71
Or even better please send a PR :pray:

[2019-03-28 11:25] layik opened #73 "gp_map option to separate data file"

[2019-03-28 14:17] layik commented on #73
Update, this is not "straightforward" and requires removing the `jsx` pattern of writing the JS code which is preferred in my coding style. It may need a rewrite of the current "standalone" template file.

[2019-03-28 14:22] layik commented on #73
at least

<img width="1471" alt="Screenshot 2019-03-28 at 14 21 55" src="https://user-images.githubusercontent.com/408568/55165197-e4e05f80-5164-11e9-972d-cce1f75e1314.png">
<img width="1467" alt="Screenshot 2019-03-28 at 14 22 02" src="https://user-images.githubusercontent.com/408568/55165198-e4e05f80-5164-11e9-9b00-5ea78cb12a4c.png">

https://reactjs.org

[2019-03-28 16:57] layik commented on #73
So I have found the way to do this.

The only way to do this, is to have a precompiled version of the code in ES as stated by the [React docs](https://reactjs.org/docs/add-react-to-a-website.html), and import into the browser with a standard `<script src='react_no_jsx.js'>`. I would like to keep my code in JSX and there is a good reason for it (human readability and conciseness). In our case a 251

[2019-03-28 17:02] layik commented on #73
To clarify:

1. keep html code & scripts in a file say `geoplumber.html`
2. keep React code in a file say `react.js` (as in the example above)
3. data in data.json (or `data.js`)

But I see little value in the whole exercise I must say.

[2019-05-23 12:14] layik opened #74 "Update react-scripts"

[2019-06-18 09:37] layik commented on #74
Consider building yarn/npm audit into the build.

1. install packages at `inst/js`
2. Run the audit
3. Break the app rather than let security issues hanging.

[2019-06-18 09:42] #74 closed

[2019-07-22 12:20] layik opened #75 "Vignettes slow down build"
They are valuable resources, whether they need to be rebuilt every time the package is built, I am just not sure anymore.

[2019-07-22 15:49] Robinlovelace commented on #75
If it's an issue with local build times, you could use the flag ` --no-vignettes` to not run R code in vignettes: https://support.rstudio.com/hc/en-us/articles/200486518-Customizing-Package-Build-Options

Another approach is to use `eval = FALSE`, something I do in this new stplanr vignette: https://ropensci.github.io/stplanr/articles/stplanr-od.html

It's annoying how long pkgs take to build and

[2019-07-22 17:42] layik commented on #75
Maybe the same on Travis?

Thanks Robin. I think one of those would be good enough. I will see if I can push a commit.

Thanks Robin!

[2019-07-23 08:47] layik commented on #75
https://github.com/ATFutures/geoplumber/commit/24faf05d8a52c1ee895fddb50a900767d8b4dd8f has made the build pass but midnight Travis took 32 mins.

[2019-07-23 08:47] layik commented on #75
Closing pending other opts.

[2019-07-23 08:47] #75 closed

[2019-09-08 09:55] Robinlovelace opened #76 "Support for flowmap.gl"
Heads-up @layik, thanks to @symbolixau (let us know if you're thinking of doing anything with this and we can help) I just discovered this, which could solve sooo many problems in OD data mapping. https://github.com/teralytics/flowmap.gl

I notice it can be used with React already. Any chance of a wrapper so we can show OD data in R using this framework. That would be amazing.

[2019-09-08 10:11] dcooley commented on #76
Yes I too have added a task to implement this - https://github.com/SymbolixAU/mapdeck/issues/223 - but mapdeck doesn't use react, so will need the .min.js version if it's made available. So I'm keen to see you get this working too.

[2019-09-09 11:33] layik commented on #76
Thanks everyone, must fine time to get back on `geoplumber`.

[2020-05-09 11:19] Robinlovelace opened #77 "gp_plumb changes the working directory"
Should it change back to the original e.g. with:

[code]

[2020-05-09 11:21] Robinlovelace opened #78 "gp_geojson(u) doesn't always show the map in RStudio viewer"
Can provide more details...

[2020-05-09 11:39] layik opened #79 "gp_explore?"
An easy and self explanatory name to use either `eatlas` or `kepler` or your favourite option to explore the data.

It could take:
* a url
* an sf object

Start simple and make it "embeddable" then can grown to keep talking to the R backend.

[2020-05-09 11:41] layik commented on #76
#79

[2020-05-10 13:36] layik commented on #25
title not clear so closing but happy to reopen again.

[2020-05-10 13:36] #25 closed

[2020-05-10 13:37] layik commented on #60
we have a `gp_sf` which is not like the packages mentioned. It does talk to the backend. If there is an issue with `gp_sf` lets open new issues.

[2020-05-10 13:37] #60 closed

[2020-05-10 13:37] layik commented on #71
done?

[2020-05-10 13:37] #71 closed

[2020-05-10 13:37] layik commented on #73
This is not useful even if done. Revisit if need be.

[2020-05-10 13:37] #73 closed

[2020-05-10 13:41] layik opened #80 "UI design framework"
Options are [quite a few](https://bestofjs.org/projects?tags=component) but the stable ones are:

- Famous [material UI](https://github.com/mui-org/material-ui)
- Uber's [baseweb](https://baseweb.design) (used in eAtlas)
- [Ant Design](https://ant.design) (by Alibaba?)

Please feel free to vote :)

[2020-05-10 13:42] layik commented on #80
Current `bootstrap` should just disappear fully. The choice here will be making the foundation of the package and give users and future developers the right path.

[2020-05-10 19:47] Robinlovelace commented on #68
:tada:

[2020-05-10 19:49] Robinlovelace commented on #80
Awesome that you're thinking about design.

[2020-05-11 17:58] layik commented on #77
So this should not be happening and it is not a bug. The way `gp_plumb` works, in my opinion should never does stuff like this. It should always be the user who would need to be in a `gp` project directory. Happy to remove both references to the relevant function.

The function itself could be exported as a helper function, users may or may not use it.

[2020-05-12 05:35] Robinlovelace commented on #77
If there's a setting like `cd = FALSE` by default, it could `cd` with a message but by default only work if you're already in an app directory.

[2020-05-12 08:07] layik opened #81 "babel transpiler issues"
There are various issues which are rooted in transpiling (translate/compile) React. I will document those in issues for the future of the package as well.

But at the heart of this is what BabelJS does to the react code and the way "webpack" is built. I do not propose to go around this unless there are good evidence that some sort of other "bundler" such as "gulp" etc can do the job.

Just putting

[2020-05-12 08:12] layik opened #82 "dev server + backend server at once"
At the moment, there is no strategy to start both separately without one blocking the other.

Plumber uses ... (will fill that gap later) to start the backend server. And `npm start` does the front end, which is a blocking command.

At least on macOS cannot be sent to the back with say `system("npm start &)` or `system("npm start", wait = FALSE)`. Though works fine if continues to block which make

[2020-05-12 08:25] layik commented on #77
Just to be clear, if I remove the offending line, all that is going to happen is a warning to user that `please be in a gp dir`. The alternative would be to provide a `geoplumber` path which I think is messy. So example would be `usethis::use_package("stats19", path="/some/path")`.

As for `cd = FALSE` or other work arounds, a couple of things but main point is I have not worked out how to overcom

[2020-05-12 08:26] layik commented on #77
So it is a matter of package strategy as well.

[2020-05-12 08:30] layik commented on #82
Current thoughts are:

Premise: Windows `does not` kill child processes when their parents die. Based on this:
1. Use `nohup` or similar FOR Unix and use nothing on Windows to run *background* processes for `npm start`.
2. Always keep `plumber` blocking to the last command.

That way, if front is needed either in the background with backend or on its own. And the backend takes priority as it also

[2020-05-12 08:34] layik commented on #82
Experimental solution to this is what `gp_map` uses. Bypass the whole webpack/transpiling issues  discussed in #81

[2020-05-12 08:37] layik commented on #81
Experimental solution to this is what `gp_map` uses. This is a one file BabelJS and react, this was not the way `geoplumber` was hoped to be used.

An R powered React frontend application that is kick started by geoplumber R package but continue to grow with or without traces of geoplumber R package.

[2020-05-12 11:51] layik commented on #82
R package `future` was not useful or not used correctly see #58 and others.

[2020-05-12 11:54] layik commented on #79
that commit should get a slow but working version of [`eatlas`](https://github.com/layik/eAtlas/tree/npm) in there. I must see if I can add `Kepler` in the same way.

[code]

Cant `reprex` it.

<img width="1676" alt="Screenshot 2020-05-12 at 10 44 11" src="https://user-images.githubusercontent.com/408568/81685038-9452c100-944f-11ea-946c-795ef70791b3.png">

[2020-05-12 11:56] layik commented on #79
The default dataset of `geoplumber::traffic` in the 📦 needs to be something more optimistic like bikeshare 👍

[2020-05-12 12:34] layik commented on #79
Right, having had a little look at [`Kepler.gl`](https://www.npmjs.com/package/kepler.gl) package, we would have to do a little more to get it working. My example app never got off the ground, but obviously amazing package despite 77 dependencies.

I propose to close this issue when we are happy with it, no doubt will need more work/refactoring in future.

[2020-05-12 12:46] layik commented on #79
Aware of the sidebar disappearing under the header. That is an issue to go into [`eAtlas`](https://github.com/layik/eatlas) repo.

[2020-05-14 09:01] layik commented on #77
Should not do so now. Closing.

[2020-05-14 09:01] #77 closed

[2020-05-14 09:07] layik commented on #78
I might use the same issue to do some other work.

[2020-05-17 00:17] layik commented on #82
I think @mpadge has just "part" sorted this. Not sure if he saw this ticket or he remembers working on geoplumber :)
https://github.com/mpadge/pkgreport
wchi uses

`callr::r_bg`

[2020-05-17 00:45] layik commented on #82
Thanks @mpadge this is useful, I must have not used `callr::r_bg` in the past properly. If `list` params is not passed the plumber process exits I think.

Thanks again.

[2020-05-17 01:11] layik commented on #82
Gives me great pleasure to share first ever `reprex` of geoplumber:

[code]

<sup>Created on 2020-05-17 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-05-17 19:43] mpadge commented on #82
Amazing timing - I'm grappling with exactly those issues in another repo right now, trying to get `callr::r_bg()` to properly serve a plumber instance. I'll check out what you've done asap. Great to see you back @layik

[2020-05-17 21:03] layik commented on #82
Hi Mark, got the insight from that repo, report package or something, I thought I had put a link in the above comment.

Yes, must get geoplumber out!

[2020-05-17 21:12] layik commented on #82
I don't know why but `devtools::test()` test call to `callr::r_bg()` generates too many "Unable to find env file..." error which is hitting this bit. When doing `R CMD Check` that does not happen. Strange!

[2020-05-18 09:32] layik commented on #82
Nor does it happen on [Travis](https://travis-ci.org/github/ATFutures/geoplumber/builds/688166814), again strange!

[2020-05-18 20:03] mpadge commented on #82
Yeah, the `env` stuff is exactly what i need to spin up tomorrow to get my stuff working. I need to stick variables in the local (non-R) environment, and then read them in via the background process. That's one of my tomorrow morning tasks, so I'll have a look at your code at the same time, and ping when i've got a solution.

[2020-05-20 08:43] mpadge commented on #82
@layik I managed to fix my errors, mostly by using the debugging abilities of `callr` via stuff like this:
[code]

Notes:

1. The `as.integer(port)` is really important, because trying to `$run(port = port)` a plumber object will fail if `port` is not an integer
2. The important bits: `stdout` and `stderr` dump all logging info to those `/tmp` files which can then be inspected to work out what's g

[2020-05-20 21:11] layik commented on #82
Thank you very much Mark, I take it you didn't (thankfully) hit the 'No environment file in temp dir' error.

I will note these as they are too precious and who knows might save me days.

[2020-05-20 21:14] layik commented on #79
Should geoplumber have a header? I think it should be at least optional but that is a new ticket. Another check on the "flexible" paths and can close this.

[2020-05-21 08:13] mpadge commented on #82
No, but stuff i'll be doing today will involve passing envvars through, but `r_bg` has it's own `env` list that is passes anyway (`callr::rcmd_safe_env()`), so you can easily just add whatever you want to that, and pass it as the `env` par instead of the default.

[2020-05-22 20:59] layik commented on #82
Missed this comment, thanks Mark.

I think I need to get to know the package better so again your insights will come handy. `callr` has solved a huge hurdle for the package, though not had a chance to work on it this week.

[2020-05-29 10:21] layik commented on #76
Right @Robinlovelace and @dcooley. Here is what I have been able to do in the eAtlas so far which is very basic uses of the layer (flowmap). The showcases on flowmap.blue is much better of course.

Dave, happy to contribute if I can, I should be able to get you a `.min.js` from the repo if not over confident here.

Data: 180k OD pair and twice so far crashed my 16gb MacBook Pro GPU.
<img width="10

[2020-05-29 10:22] layik commented on #76
the dots are not "points" they are "top flows" from the flowmap layer.

[2020-05-29 10:57] Robinlovelace commented on #76
Nice!

[2020-05-30 12:42] layik commented on #80
keeps getting better this
https://github.com/microsoft/fluentui

[2020-06-06 10:36] layik commented on #76
I think I see the best way to get this into `geoplumber` which has to be via `eAtlas` or another source. It is perfect for @dcooley to import into Mapdeck like other layers and maybe I should focus on helping (if needed) with the `min.js` needed for Dave to use.

The layer is similar to our own efforts of at least two new layers for DeckGL, namely the barvis and peak vis both from Washington Post

[2020-06-06 11:05] Robinlovelace commented on #76
Nice!

[2020-06-06 11:09] dcooley commented on #76
yeah good work @layik . I hope to get back to Mapdeck development in the coming weeks so I'll give you a ping to see how best to integrate this.

[2020-06-17 14:25] layik commented on #68
Cant remember why I have closed this!

[2020-10-13 10:41] layik commented on #82
Reopen if this is needed.

[2020-10-13 10:41] #82 closed

[2020-10-13 10:41] layik commented on #79
basics in, for new issues open new tickets.

[2020-10-13 10:41] #79 closed

[2020-10-13 10:42] layik commented on #70
Handled in plumber1.0? Reopen as needed.

[2020-10-13 10:42] #70 closed

[2020-10-13 11:14] Robinlovelace commented on #70
Awesome, not tried it yet but great if that's now fixed. Look forward to taking geoplumber for another test drive!

[2020-10-13 13:42] layik opened #83 "r_bg broken - again"
Previous work for `gp_explore` and others needed the use of `callr`, see Mark's first recommendation: https://github.com/ATFutures/geoplumber/issues/82#issuecomment-629850023

Since, various issues exist around the use of running processes in the background whilst having full control on the process to shut it down when done.

Current issue is that in `gp_explore` this no longer functions:

[code]

[2020-10-13 19:19] layik commented on #83
[Thanks](https://github.com/rstudio/plumber/issues/451#issuecomment-707860279) to @meztez this can now be taken care of and hopefully it is a lasting solution for `geoplumber`.

[2020-10-14 00:24] layik commented on #83
All tests pass so should be good to close despite Travis still failing.

[2020-10-14 00:24] #83 closed

[2020-10-20 08:37] layik opened #84 "Update package.json"
- branch created
- issue is migration of bootstrap
- might be best to supersede with #80

[2021-04-15 14:06] layik opened #85 "Codecov sec breach"
https://about.codecov.io/security-update

[2021-05-17 10:34] layik commented on #80
So far github.com/uber/baseweb has not let eAtlas down and the devil we/I know.

[2021-05-18 04:53] Robinlovelace commented on #80
Baseweb looks good to me :+1:

[2021-08-14 19:52] layik commented on #80
The winner is Material UI due to components like: https://material-ui.com/components/data-grid/ and outclasses baseweb when it comes to sliders/etc.

[2021-08-14 19:52] #80 closed

[2021-08-14 19:53] layik commented on #76
all too ambitious and this package needs to walk first. Reopen if feeling good.

[2021-08-14 19:53] #76 closed

[2021-10-14 09:44] layik opened #86 "if gp_build fails stop gp_run/plumb in gp_explore"
TGVE requires more memory than traditional nodejs allowed heap. So the domino effect reaches geoplumber. TODO: update this or any doc with relevant TGVE plotly issue.